/* Variables */
:root {
  --color-bg: #111827;
  --reset-btn: #f43f5e;
  --box-score: #080001;
  --box-score-color: #f94f6d;
  --border-radius: 4px;
  --bordercolor--btn-scores: #9aabd8;
}
/* Reset */
*,
::after,
::before {
  box-sizing: border-box;
}

/* Custom Fonts */
@font-face {
  font-family: "CursedTimerUlil-Aznm";
  src: url("../fonts/CursedTimerUlil-Aznm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Basic Styles */

body {
  background-image: url(../images/fond-banniere-coup-pinceau-rouge-noir-parfait-pour-canva.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

body::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 24, 23, 0.7);
  z-index: -1;
}

.container {
  width: 50rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-bg);
  margin: 3.125rem auto 0;
  padding: 3.125rem;
  border-radius: var(--border-radius);
}

.reset-container {
  width: 50rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: var(--color-bg);
  padding: 3.125rem;
  border-radius: var(--border-radius);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.5s ease;
}

img:hover {
  filter: grayscale(0.5);
  transition: 0.8s ease;
}

h2 {
  font-family: "Teko", sans-serif;
  margin-top: 0;
  font-size: 2.5rem;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Button */

button {
  border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font-weight: bold;
  cursor: pointer;
  touch-action: manipulation;
}

.reset-game {
  background-color: var(--reset-btn);
  color: white;
  padding: 15px 25px;
  width: 9.375rem;
}

.new-game {
  padding: 15px 25px;
  width: 9.375rem;
  background: #0284c7;
  color: white;
}

/* Button add points */
.btnscore {
  background-color: transparent;
  border: 2px solid var(--bordercolor--btn-scores);
  color: var(--bordercolor--btn-scores);
  font-family: "CursedTimerUlil-Aznm";
}

/* box scores */

.score-guest,
.score-home {
  background-color: var(--box-score);
  max-width: 40%;
  margin: 0 auto;
  margin-bottom: 26px;
  padding: 1.5rem 0;
  margin-top: 26px;
  border-radius: var(--border-radius);
  font-family: "CursedTimerUlil-Aznm";
  font-size: 5.625rem;
  color: var(--box-score-color);
  text-align: center;
  word-wrap: break-word;
}

/* class for JS */

.winner {
  font-weight: bold;
  color: green;
}

/* media queries */

@media screen and (max-width: 600px) {
  body {
    overflow: visible;
    background-image: none;
    background-color: var(--color-bg);
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
  }

  img {
    max-width: 100%;
  }

  .reset-container {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
  }

  .timer {
    margin-bottom: 0;
  }

  button {
    padding: 8px 10px;
  }

  .score-guest,
  .score-home {
    background-color: var(--box-score);
    max-width: 100%;
    margin: 1rem auto;
    padding: 1rem 0;
    font-size: 4.625rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0.8rem;
  }
  h2 {
    margin-bottom: 0;
  }
  .score-guest,
  .score-home {
    background-color: var(--box-score);
    max-width: 100%;
    margin: 0.5rem auto;
    padding: 0.5rem 0;
    font-size: 4.625rem;
  }
}
